langchain
python-dotenv
ipykernel
langchain-community
langchain_openai
langchain-huggingface
sentence-transformers
pypdf
pdfplumber
beautifulsoup4
langchain-text-splitters
dotenv
chromadb
langchain_chroma
wikipedia
faiss-cpu
langchain-classic
youtube-transcript-api
langchain_ollama